h1 {
  text-align: center;
  color: blue;
}
* {
  background-image: url(/images/img\();
  background-repeat: no-repeat;
  padding: 10px;
  scroll-behavior: smooth;
}
button {
  text-align: center;
}
#dow {
  color: blue;
}
nav{
  display: inline-block;
  text-align: right;
  width: 100%;
  background-color:whitesmoke;
  padding:10px;
  }
  nav>li{
    display: inline;
    font-size:1.3em;
    padding-left:52px;
  }